mat-card, .result, mat-spinner {
  max-width: 65ch;
  margin: 0 auto;
}

.toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 1.3rem;
}

mat-form-field {
  width: 100%;
}

mat-slide-toggle, button {
  padding: 0 1rem;
}

.result, mat-spinner {
  margin-top: 2rem;
}

.result ::ng-deep {
  p {
    margin: 0 0 0.625em 0;
  }

  blockquote {
    border-left: 1px solid #456;
    margin: 1em 0;
    padding-left: 1em;
  }
}
