<mat-card>
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Review URL</mat-label>
            <input matInput [formControl]="form.controls.url" placeholder="https://www.letterboxd.com/.../film/.../">
        </mat-form-field>

        <div class="toggles">
            <mat-slide-toggle [formControl]="form.controls.includePoster">
                Include poster
            </mat-slide-toggle>

            <mat-slide-toggle [formControl]="form.controls.includeImage">
                Include header image
            </mat-slide-toggle>

            <mat-slide-toggle [formControl]="form.controls.attribution">
                Include link to this generator
            </mat-slide-toggle>
        </div>

        <button mat-raised-button color="primary" (click)="copyHtml()"
            [disabled]="loading || !(reviewChanges | async)">Copy HTML</button>
    </form>
</mat-card>

<mat-spinner *ngIf="loading"></mat-spinner>

<div #result class="result" *ngIf="!loading && (reviewChanges | async); let review">
    <div style="
    background: #2c3440; 
    border-radius: 5px;
    border: 1px solid #2c3440;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 70%) 2px 2px 5px;
    color: #9ab;
    display: flex;
    flex-direction: column;
">
        <div style="
    display: flex;
    margin-bottom: 18.462px;
    padding: 13.846px 16px 0;
    background: #456;
    z-index: 1;
">
            <div *ngIf="form.controls.includePoster.value" style="
    align-self: flex-start;
    flex-shrink: 0;
    order: 2;
    width: 30%;
    max-width: 110px;
    position: relative;
    z-index: 0;
" [style.height]="form.controls.includeImage.value ? 0 : null">
                <div style="
    height: auto;
    width: 100%; 
    background: #161718;
    box-shadow: 0 1px 3px rgb(0 0 0 / 35%);
    border-radius: 4px;
    display: inline-block;
    overflow: hidden;
    position: relative;
">
                    <img style="
    height: auto;
    width: 100%;
    border-radius: 4px;
    margin: 0;
    display: block;
" src="{{review.poster}}">
                    <a style="
    box-shadow: inset 0 0 1px #def;
    background-clip: padding-box;
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.5) 50%,hsla(0,0%,100%,0));
    background-repeat: no-repeat;
    background-size: 100% 1px;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: 110%;
    top: 0;
" href="{{review.filmUrl}}">
                    </a>
                </div>
            </div>
            <div style="
    align-self: center;
    flex-grow: 1;
    order: 1;
    padding-right: 13.846px;
">
                <div style="
    margin-bottom: 13.846px;
    color: #678;
    position: relative;
">
                    <p style="
    font-size: 12px;
    display: inline-block;
    line-height: 18px;
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
">
                        <a style="
    border-radius: 9px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    float: left;
    margin-right: 5px;
    position: relative;
    height: 18px;
    width: 18px;
" href="{{review.reviewerUrl}}">
                            <img style="
    height: auto;
    width: 100%;
    border-radius: 9px;
    margin: 0;
" src="{{review.reviewerAvatar}}"
                                title="{{review.reviewer}}" width="16" height="16" />
                        </a>
                        <strong style="
    display: inline-block;
    margin-right: 5px;
">
                            <a style="
    color: #abc;
    text-decoration: none;
    font-weight: 700;
" href="{{review.reviewerUrl}}">
                                {{review.reviewer}}
                                <span *ngIf="review.patron" style="
    font-size: 9.5px;
    padding: 2px 4px;
    background-color: #209ce4;
    border-radius: 2px;
    line-height: 1;
    color: #fff;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    margin-left: 2px;
    position: relative;
    text-transform: uppercase;
    top: -1px;
    user-select: none;
">Patron</span>
                            </a>
                        </strong>
                    </p>
                </div>
                <h2 style="
    margin-bottom: 9.231px;
    font-size: 20.3077px;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: TiemposTextWeb-Semibold,Georgia,serif;
    font-weight: 700;
    margin: 0 0 10px;
    line-height: 1.2;
">
                    <div style="margin-right: 3px;">
                        <a style="
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
" href="{{review.url}}">{{review.film}}</a>
                        <small style="
    font-size: 16.6154px;
    color: #89a;
    font-weight: 400;
">
                            <a style="color: #abc; text-decoration: none"
                                href="https://letterboxd.com/films/year/{{review.filmYear}}/">{{review.filmYear}}</a>
                        </small>
                    </div>
                    <span *ngIf="review.starsPercentage" style.width="{{review.starsPercentage * 80}}px" style="
    background: url(https://s.ltrbxd.com/static/img/sprite.bb4a4c3d.svg) no-repeat -390px -130px;
    display: inline-block;
    height: 14px;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
"> {{stars(review.starsPercentage)}} </span>
                </h2>
                <p style="
    color: #89a;
    font-size: 12px;
    margin-bottom: 9.231px;
    line-height: 1.5;
">
                    Watched
                    <a style="color: #89a; text-decoration: none"
                        [href]="review.reviewMonthUrl"> {{review.reviewMonth}} </a>
                    <a style="color: #89a; text-decoration: none"
                        [href]="review.reviewDayUrl">{{review.reviewDay}}</a>,
                    <a style="color: #89a; text-decoration: none"
                        [href]="review.reviewYearUrl">{{review.reviewYear}}</a>
                </p>
            </div>
        </div>
        <div style="width: 100%; height: 0; margin-bottom: 160px" *ngIf="review.image && form.controls.includeImage.value">
            <img style="min-width: 100%; width: 100%; min-height: 267px; object-fit: cover; margin: 0; transform: translateY(-20%)" src="{{review.image}}">
        </div>
        <div style="
    line-height: 1.6875;
    font-size: 14.7692px;
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(0.5rem - 160px);
    z-index: 0;
    background: linear-gradient(180deg,rgba(125,185,232,0) 0,#16181c calc(160px + 3rem));
    padding-top: 160px;
" [innerHtml]="review.body"></div>
    </div>
    <div *ngIf="form.controls.attribution.value" style="text-align: right; font-size: min(1.87vw, 70%); opacity: 0.7">
        made with @nex3's <a href="https://nex3.github.io/cohost-letterboxd">Letterboxd formatter</a></div>
</div>